{% extends 'base.html.twig' %}
{% block title %} Twitter Widget {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.4.3/antd.min.css">
{% endblock %}
{% block body %}
    <div>
        <div id="root"></div>
    </div>
{% endblock %}